
.wrapper {
    margin: 0 auto;
    color: #ecf0f2;
    background-color: rgb(235, 242, 249);
    max-width: 1280px;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 900px;
    margin: 20px auto 20px;
    }

.header {
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px 40px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: calc(30px + 10 * (100vw / 1280));
}

/*@media (min-width: 767px){
    h1 {
     font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
    }
   }*/

p {
    font-size: calc(10px + 6 * (100vw / 1280));
    padding-bottom: 15px;
}

.header > p {
    text-align: center;
    line-height: normal;
}

/*@media (min-width: 767px){
    p {
     font-size: calc(12px + (4 + 4 * 0.7) * ((100vw - 320px) / 1280));
     text-align: justify;
    }
   }*/

.photo {
    width: 200px;
    height: 200px;
    border: 7px solid rgb(3, 56, 146);
    border-radius: 40px 40px 0 0;
    margin: 0 auto 30px;
    display: block;
}

h2 {
    padding-bottom: 40px;
    margin: 0;
    font-size: calc(19px + 5 * (100vw / 1280));
    text-decoration: underline;
}

/*@media (min-width: 767px){
    h2 {
     font-size: calc(17px + (7 + 7 * 0.7) * ((100vw - 320px) / 1280));
    }
   }*/

a {
    margin-right: 20px;
}

a:hover {
    opacity: 0.7;
}
    
.bg {
    background:linear-gradient(-45deg, rgb(3, 56, 146), rgb(151, 180, 224));
    border-radius: 10px;
    padding: 20px;
    padding-left: 40px;
    margin-bottom: 30px;
}

.html > p, .css > p, .java > p, progress {
    display: inline;
}

/*@media (max-width: 400px) {
    .html > p, .css > p, .java > p {
        display: block;
    }
   }*/

.html > p {
    margin-right: 56px;
}

.css > p {
    margin-right: 75px;
}

.java > p {
    margin-right: 33px;
}

.progress {
    padding-right: 300px;
}

.html, .css, .java {
    margin-bottom: 20px;
}

.progress {
    height: 20px;
}

.form-group label {
    display: block; 
    font-size: calc(10px + 6 * (100vw / 1280));
}

.form-group input,
.form-group textarea {
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    padding: 15px 0 10px;
    outline: none;
    font-size: calc(12px + 4 * (100vw / 1280));
}
.row {
    display: flex;
    margin-bottom: 20px;
    font-size: calc(12px + 4 * (100vw / 1280)); 
}

.row > .form-group {
    width: 50%;
    margin-right: 20px;
}

.row > .form-group:last-child {
    margin-right: 0;
}

.btn {
    background: rgb(192, 215, 234);
    padding: 15px 20px;
    border-radius: 10px;
    font-size: calc(12px + 4 * (100vw / 1280));
    border: none;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 1s linear;
}

.btn:hover {
 background-color: rgb(132, 187, 231);   
}